.miniCard {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    gap: 20px;
}

.miniCard img {
    max-width: 60px;
    border-radius: 50%;
}

.miniCard h1 {
    font-size: 1rem;
    color: #fff;
}

.miniCard p {
    font-size: 0.8rem;
    color: #fff;
    font-weight: 100;
}